<%= form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
      <%= f.label :body %><br />
      <%= f.text_area :body, rows: 20, class: 'input-block-level span12' %>
      <%= f.label :author %><br />
      <%= f.number_field :author %>
      <p>
        <%= f.submit %>
      </p>
  </fieldset>

<% end %>
