<% provide(:title, "Blogs") %>
<h1>Ramblings of a geek</h1>

<div class="row span12">
  <% @blogs.each do |blog| %>
    <div class="span11 block">
      <p class="blog-body"><%= blog.body_rendered.html_safe %></p>

      <% if user_signed_in? %>
        <p class="blog-actions">
          <%= link_to 'Edit', edit_blog_path(blog) %>
          <%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      <% end %>
      <p><%= link_to 'View full', blog_path(blog) %></p>
    </div>
  <% end %>

  <div class="span2">
    <% if user_signed_in? %>
      <%= link_to 'New Blog', new_blog_path %>
    <% end %>
  </div>
</div>