<% provide(:title, "Blogs") %>
<h1>Ramblings of a mad man</h1>

<div class="row-fluid">
  <% @blogs.each do |blog| %>
    <div class="span11 block">
      <h4 class="blog-title"><%= blog.title %></h4>
      <p class="blog-body"><%= blog.body.html_safe %></p>
      <p class="blog-actions">
        <%= link_to 'Edit', edit_blog_path(blog) %>
        <%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    </div>
  <% end %>

  <div class="span6">
    <%= link_to 'New Blog', new_blog_path %>
  </div>

</div>