<% provide(:title, "Contact") %>
<h1>Contact Me</h1>

<div class="row">
  <div class="span6 offset3">
    <% if @contact.errors.any? %>
      <div class="alert alert-error">
        <ul>
          <% @contact.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>

          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_for(:contact, action: :create, html: { class: 'form-horizontal' }) do |f| %>
      <legend>Say hello!</legend>
      <div class="controls">
        <%= f.label(:name, "Name:") %>
        <%= f.text_field(:name) %>

        <%= f.label(:email, "Email:") %>
        <%= f.text_field(:email) %>

        <%= f.label(:message, "Message:") %>
        <%= f.text_area(:message, size: "24x10") %>

        <p>
          <%= f.submit 'Send' %>
        </p>
      </div>
    <% end %>
  </div>
</div>