<% provide(:title, "Contact") %>
<h1>Contact Me</h1>

<div class="row">
    <% if @contact.errors.any? %>
    <span class="span8 offset2">
      <div class="alert alert-error">
          <ul>
              <% @contact.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>

              <% end %>
          </ul>
      </div>
    </span>
    <% end %>
    <div class="span10">
        <%= form_for(:contact, action: :create, html: { class: 'form-horizontal' }) do |f| %>
            <div class="controls block padded-block">
                <%= f.label(:name, "Name:") %>
                <%= f.text_field(:name, class: 'span7') %>

                <%= f.label(:email, "Email:") %>
                <%= f.text_field(:email, class: 'span7') %>

                <%= f.label(:message, "Message:") %>
                <%= f.text_area(:message, rows: 7, class: 'span7') %>

                <%= f.submit 'Send', class: 'form-btn btn btn-primary' %>
            </div>
        <% end %>
    </div>
</div>