<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield :title) %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <!-- Header partial -->
    <%= render 'layouts/header' %>

    <div id="wrap" class="main-container">
      <div class="container">
        <div class="span12">
          <div class="row">
            <% flash.each do |key, value| %>
              <%= content_tag :div, value, class: "alert alert-#{key}" %>
            <% end %>

            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer partial -->
    <%= render 'layouts/footer' %>
  </body>
</html>